<!DOCTYPE html>
<html>
  <head>
    <title>Chessdb</title>
    <meta charset="UTF-8">
    <%= assets(:css) %>
    <%= assets(:js) %>
  </head>

  <body>
    <div class="grid-conatiner">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
