<div id="game_viewer"></div>
<script>
  var app = Elm.GameViewer.init({
    node: document.getElementById("game_viewer"),
    flags: { id: <%= id %>, halfmoveNumber: <%= @halfmove_number %> }
  });
  var chessboard;

  app.ports.signalDomRendered.subscribe(function (msg) {
    requestAnimationFrame(function() {
      chessboard = ChessBoard('chessboard', msg);
    });
  });

  app.ports.signalFenChanged.subscribe(function (fen) {
    chessboard.position(fen);
  });
</script>
