<div class="grid-x grid-padding-x">
  <div class="cell medium-6">
    <div id="move_explorer"></div>
  </div>
  <div class="cell medium-6">
    <div id="chessboard"></div>
  </div>
</div>
<script>
  var app = Elm.MoveExplorer.init({
    node: document.getElementById("move_explorer")
  });
  var chessboard;

  chessboard = ChessBoard('chessboard', 'start');
  app.ports.signalFenChanged2.subscribe(function (fen) {
    chessboard.position(fen);
  });
</script>
